.jf-img-disabled {
	filter: grayscale(100%) !important;
}

.jf-img {
	filter: grayscale(0%);
	-webkit-transition: 0.2s -webkit-filter linear;
	-moz-transition: 0.2s -moz-filter linear;
	-moz-transition: 0.2s filter linear;
	-ms-transition: 0.2s -ms-filter linear;
	-o-transition: 0.2s -o-filter linear;
	transition: 0.2s filter linear, 0.2s -webkit-filter linear;
}
