.Logo {
/*	padding-left: calc(calc(10px + 12px) * 2);*/
	font-size: 3.2rem;
}
.total-bookstore {
	margin-top: 1em;
}
.jf-darkToggle {
	border-bottom-width: 0px;padding-bottom: 0px;padding-top: 0px;border-top-width: 0px;margin-top: 10px;margin-bottom: 10px;margin-left: 10px;margin-right: 10px;border-right-width: 0px;border-left-width: 0px;
}

.jf-img-disabled {
	filter: grayscale(100%) !important;
}

.jf-img {
	filter: grayscale(0%);
	filter: brightness(100%);
	-webkit-transition: 0.2s -webkit-filter linear;
	-moz-transition: 0.2s -moz-filter linear;
	-moz-transition: 0.2s filter linear;
	-ms-transition: 0.2s -ms-filter linear;
	-o-transition: 0.2s -o-filter linear;
	transition: 0.2s filter linear, 0.2s -webkit-filter linear;
	
	margin-top: .5rem;
	display: block;
	width: 75% !important;
	height: auto !important;
	margin-left: auto;
	margin-right: auto;
}

.jf-img:hover {
	filter: brightness(80%);
}

.jf-b-sel {
	margin-top: 1em;
	margin-bottom: .5em;
	font-size: 80%;
}

.jf-nice-hint {
	margin-top: 0px;
}

.jf-textarea {
	width: 60%;
}

.jf-card {
	max-width: 19rem;
	max-height: 35rem;
}

.jf-card-foot {
	margin-bottom: .5rem;
}

.jf-card-title-smaller{
	font-size: 97%;
}

.btn-copy {
	width: 49%;
	height: 2.4em;
}
